*{
    box-sizing: border-box;
}
body
{
    margin:0;
}
canvas
{
    display: block;
    border: 1px solid black;
}
#toolbars
{
    width: 100%;
    padding: 10px;
    position: absolute;
    top:0;
    background-color: black;
    overflow: auto;
}
#mycolor
{
    margin-top: 8px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}
#myshapes
{
    margin-top: 8px;
    position: relative;
    float: left;
    margin-left: 15px;
    
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}

#rangee
{
    margin-top: 8px;
    position: relative;
    float: left;
    margin-left: 15px;
    
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}
#myrange,#myangles
{
    margin-top: 8px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: black;
    white-space: nowrap;
    cursor: pointer;
}
#pen, #eraser,#ellipse,#triangle,#line,#fill,#rectangle,#clear,#polygon
{
    position: relative;
    float:left;
    
   
    text-align: center;
    cursor:pointer;
    
}
#safe,#openFile
{
    position: relative;
    float:right;
    font-family: Verdana;
    background-color: white;
    text-align: center;
    cursor:pointer; 
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
}
#changeSquare
{
    margin-top: 10px;
    position: relative;
    float: left;
    font-family: Verdana;
    background-color: white;
    text-align: center;
    cursor:pointer; 
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
}
#changeRound
{
    margin-top: 10px;
    float: left;
    position: relative;
    font-family: Verdana;
    background-color: white;
    text-align: center;
    cursor:pointer; 
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
}
#changeButt
{
    margin-top: 10px;
    float: left;
    position: relative;
    font-family: Verdana;
    background-color: white;
    text-align: center;
    cursor:pointer; 
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
}
#changeShadow
{
    margin-top: 10px;
    float: left;
    position: relative;
    font-family: Verdana;
    background-color: white;
    text-align: center;
    cursor:pointer; 
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
}
#changecos
{
    margin-top: 10px;
    float: left;
    position: relative;
    font-family: Verdana;
    background-color: white;
    text-align: center;
    cursor:pointer; 
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
}
#file{opacity: 0;}

.box {
    background: black;
    border-radius: 0px 4px 4px 0px;
    left: -304px;
    padding: 4px 4px 4px 0px;
    position: fixed;
    top: 100px;
    transition: transform 0.4s;
    width: 300px;
}

.box:hover {
    transform: translateX(304px);
}

.box .box__content {
    background: white;
    min-height: 200px;
    padding: 15px;
    position: relative;
}

.box .box__title {
    background: #fff;
    border: solid black;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 4px 4px;
    cursor: default;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -74px;
    text-align: center;
    top: 70px;
    transform: rotate(-90deg);
    width: 106px;
}
.box2 {
    background: black;
    border-radius: 0px 4px 4px 0px;
    left: -304px;
    padding: 4px 4px 4px 0px;
    position: fixed;
    top: 270px;
    transition: transform 0.4s;
    width: 300px;
}

.box2:hover {
    transform: translateX(304px);
}

.box2 .box__content2 {
    background: white;
    min-height: 200px;
    padding: 15px;
    position: relative;
}

.box2 .box__title2 {
    background: #fff;
    border: solid black;
    border-radius: 0px 0px 4px 4px;
    border-width: 0px 4px 4px;
    cursor: default;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -74px;
    text-align: center;
    top: 70px;
    transform: rotate(-90deg);
    width: 106px;
}