*{
    box-sizing: border-box;
}
body
{
    margin:0;
}
canvas
{
    display: block;
    border: 1px solid black;
}
#toolbars
{
    width: 100%;
    padding: 10px;
    position: absolute;
    top:0;
    background-color: black;
    overflow: auto;
}
#mycolor
{
    margin-top: 5px;
    position: relative;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}
#myshapes
{
    margin-top: 5px;
    position: relative;
    float: left;
    margin-left: 10px;
    
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

#rangee
{
    margin-top: 5px;
    position: relative;
    float: left;
    margin-left: 10px;
    
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}
#myrange,#myangles
{
    margin-top: 8px;
    position: relative;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: Verdana;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}
#pen, #eraser,#ellipse,#triangle,#line,#fill,#rectangle,#clear,#polygon
{
    position: relative;
    float:left;
    
   
    text-align: center;
    cursor:pointer;
    
}
#safe,#openFile,#changeSquare,#changeRound,#changeButt
{
    position: relative;
    float:right;
    font-family: Verdana;
    background-color: white;
    text-align: center;
    cursor:pointer; 
    height: 30px;
    width: 70px;
    margin-top: 5px;
    margin-right: 5px;
}
#file{opacity: 0;}